@page "{IdAnime:int}"
@model DeletePageModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] ="Delete Anime";
}

<section class="d-flex flex-column gap-3">
    <a asp-page="/Index" class="btn btn-sm btn-outline-primary">Go Back</a>
    <div class="row mx-auto justify-content-center text-center w-100 align-items-center">
        <div class="col-12">
            <h3 class="text-danger">Delete Anime @Model.Anime.Name</h3>
            <form class="row g-3" method="POST">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col-md-12">
                    <p>Do you want to delete anime?</p>
                    <input type="submit" class="btn btn-danger" placeholder="YES"/>
                </div>
                
            </form>
        </div>
    </div>
</section>