@page "{IdAnime:int}"
@model EditPageModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Anime";
}


<section class="d-flex flex-column gap-3">

    <a asp-page="/Index" class="btn btn-sm btn-outline-primary ">Go Back</a>
    <div class="row mx-auto justify-content-center text-center w-100 align-items-center">
        <div class="col-12">
            <h3>Edit Anime</h3>
            <form class="row g-3" method="POST">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col-md-12">
                    <label asp-for="Anime!.Name" class="form-label">Anime Name</label>
                    <input asp-for="Anime!.Name" class="form-control" placeholder="The Anime Title in Japanese/Romaji">
                    <span asp-validation-for="Anime!.Name"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Anime!.NameEnglish" class="form-label">English Anime Name</label>
                    <input asp-for="Anime!.NameEnglish" class="form-control"  placeholder="The Anime Title in English"/>
                    <span asp-validation-for="Anime!.NameEnglish"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="Anime!.ReleaseYear" class="form-label">Release Year</label>
                    <input asp-for="Anime!.ReleaseYear" class="form-control"  placeholder="Year">
                    <span asp-validation-for="Anime!.ReleaseYear"></span>
                </div>
                <div class="col-md-9">
                    <label asp-for="Anime!.SeasonPremiere" class="form-label">Season Premiere</label>
                    <input asp-for="Anime!.SeasonPremiere" class="form-control" 
                        placeholder="Season when anime was aired">
                </div>
                
                <div class="col-md-2">
                    <label asp-for="Anime!.Status" class="form-label">Status</label>
                    <select asp-for="Anime!.Status" class="form-select">
                        <option selected value="unknown">Choose Status...</option>
                        <option value="watching">Watching</option>
                        <option value="watched">Watched</option>
                        <option value="on_hold">On Hold</option>
                        <option value="dropped">Dropped</option>
                    </select>
                </div> 
                
               
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" placeholder="Save Changes"/>
                </div>
            </form>
        </div>
    </div>

</section>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>