﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="d-flex flex-column gap-3">
    <div class="row mx-auto justify-content-center text-center w-100 align-items-center">
        <div class="col-6">
            <a asp-page="Anime/New">Add New</a>
        </div>
        <div class="col-6">

            <form class="d-flex flex-row justify-content-center gap-4 text-center mx-auto">
                <label>Search:</label>
                <input class="form-control" type="text" alt="Enter name to search" placeholder="Enter Anime name..." />
                <input class="btn btn-primary" type="submit" placeholder="Search" />
            </form>
        </div>
    </div>
    <table class="table table-sm table-striped table-bordered table-hover text-center ">
        <thead>
            <th>@Html.DisplayNameFor(model => model.Animes[0].IdAnime)</th>
            <th>@Html.DisplayNameFor(model => model.Animes[0].Name)</th>

            <th>@Html.DisplayNameFor(model => model.Animes[0].NameEnglish)</th>
            
            <th>Release Year</th>
            <th>Season Premiere</th>
            <th>Status</th>
            <th colspan="3">Actions</th>
        </thead>
        <tbody>
            @foreach(var anime in Model.Animes)
            {
                <tr>
                <td>@anime.IdAnime</td>
                <td>@anime.Name</td>
                <td>@anime.NameEnglish</td>
                <td>@anime.ReleaseYear</td>
                <td>@anime.SeasonPremiere</td>
                <td>@anime.Status</td>
                <td>
                    <a asp-page="Anime/Edit" asp-route-IdAnime="@anime.IdAnime">Edit</a>
                </td>
                <td>
                    <a asp-page="Anime/Delete" asp-route-IdAnime="@anime.IdAnime">Delete</a>
                </td>
                <td>
                    <a href="">More Info</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
